{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class = "row">
	<div class = "col-md-12">
		<div class = "card card-body">

			<form action = "" method = "POST">
				<!-- {% csrf_token %}
				{{formset.management_form}}
				{% for form in formset %}
					{{form}}
					<hr>
				{% endfor %} -->

				<!-- {% csrf_token %}
				
				{% for f in form %}
				<table class="table table-sm">
					<tr>
						<th>Użytkownik: {{f.customer}}</th>
						<th>Produkt: {{f.product}}</th>
						<th>Status: {{f.status}}</th>
						<th>Nota: {{f.note}}</th>
					</tr>
				<table></table>
				{% endfor %} -->

				{% csrf_token %}
				{% if f %}
				<table class="table table-sm">
					<tr>

						<th>Użytkownik: {{f.customer}}</th>
						<th>Produkt: {{f.product}}</th>
						<th>Status: {{f.status}}</th>
						<th>Nota: {{f.note}}</th>
					</tr>
				</table>
				{% else %}
				
				{% endif %}
				
				
				

				{% csrf_token %}
				{{formset.management_form}}
				{% for form in formset %}
				{% csrf_token %}
				
				<table class="table table-sm">
					<tr>
						<th>Produkt: {{form.product}}</th>
						<th>Status: {{form.status}}</th>
					</tr>
				</table>
				{% endfor %}
				
				
				<input type = "submit" name = "Submit">
			</form>

		</div>
	</div>
</div>

{% endblock %}
